body {
  background-color: rgba(72, 125, 206, 1);
  color: white;
}

.container {
  padding: 10px 50px;
}

.orange {
  color: rgba(191, 80, 72, 1);
}

.box {
  width: 400px;
  height: 100px;
  background-color: red;
  margin-bottom: 10px;
  transition: all 2s ease-in-out;

  &.green {
    background-color: green;
    height: 400px;
    border-radius: 100%;
  }
}
